@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #e9eaea;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #f65b5c;
}

.grijs {
    color: #d1d2d4;
}

a {
    color: #ffffff;
    border: 0.5px solid #f65b5c;
    background-color: #f65b5c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

p {
    color: #d1d2d4;
    text-transform: capitalize;

}